<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.daos.TestTableDao">
    <select id="getAll" resultType="TestTableDto">
        SELECT id, name
        FROM testtable
    </select>
</mapper>